* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* common */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  padding: 0px 16px;
  line-height: 50px;
  min-width: 118px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}

.btn:hover {
  opacity: 0.9;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1, 26px;
  letter-spacing: -0.76px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.break-all {
  word-break: break-all;
}
/* header */
.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1000; /* Đảm bảo header nằm trên ảnh */
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

.header .btn-sign-up {
  min-width: 114px;
}

.header .action {
  margin-left: 40px;
}

/* ==============hero=============== */
.hero {
  padding: 56px 0 65px;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

/* =============hero left============= */
.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .content-block {
  width: 52%;
}

.hero .body .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-summary {
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  width: 270px;
  padding: 24px;
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}

.hero-summary .icon2 {
  background-color: #fcefff;
}

.hero-summary .icon3 {
  background-color: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

/* ===============hero right================ */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.content-block .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}

.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}

.hero .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.hero-cta {
  min-width: 180px;
  border-radius: 32px;
  background: var(--primary-color);
  line-height: 64px;
}

.hero .watch-video {
  border: none;
  background-color: transparent;
  display: flex;
  margin-left: 28px;
  align-items: center;
  cursor: pointer;
}

.hero .watch-video .icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.hero .desc-recent {
  margin-top: 48px;
}

.hero .stats strong {
  margin-right: 15px;
  color: #171100;
  font-family: Sen;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23; /* 122.727% */
}

.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}

.hero .stats {
  margin-top: 8px;
}

.popular {
  margin-top: 200px;
}

.popular-top {
  display: flex;
  justify-content: space-between;
}

.popular-top .desc {
  width: 458px;
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.popular-top .control {
  display: flex;
  gap: 18px;
}

.popular-top .control-btn {
  margin-top: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.popular-top .control-btn:hover {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

.popular .popular-bottom {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}

.popular-bottom .thumb {
  width: 100%;
  height: 278px;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
}

.popular-bottom .course-item {
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}

.popular-bottom .course-item:hover {
  border: 1px solid transparent;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}

.popular-bottom .info {
  margin: 16px 22px 22px;
}

.popular-bottom .foot,
.popular-bottom .rating,
.popular-bottom .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-bottom .title a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.popular-bottom .value {
  margin-left: 6px;
  color: #fea31b;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.popular-bottom .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}

.popular-bottom .foot {
  margin-top: 12px;
}

.popular-bottom .foot .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.popular-bottom .foot .btn-book {
  width: 118px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #171100;
  border: none;
  cursor: pointer;
}

.popular-bottom .foot .btn-book:hover {
  background: #ffb900;
}

/* ==============feedback============= */
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background: #2e2100;
}

.feedback-items {
  display: flex;
}

.feedback .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback .name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42; /* 141.667% */
}

.feedback .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}

.feedback .dots-list {
  display: flex;
  gap: 6px;
}

.feedback .dots {
  margin-top: 28px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}

.feedback .dot2 {
  background: #ffb900;
  cursor: default;
}

.feedback-items .content {
  width: 66%;
  margin-left: auto;
}

.feedback-items blockquote {
  margin-left: 30px;
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.54; /* 153.846% */
}

/* ===============feature============== */
.feature {
  margin-top: 200px;
}
.feature .pic {
  display: flex;
  gap: 30px;
}
.feature .picture {
  width: 270px;
  height: 404px;
  border-radius: 16px;
  object-fit: cover;
}
.feature .picture1 {
  margin-top: 34px;
}

.feature .item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature .heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
}

.feature .info {
  margin-left: 130px;
}

.feature .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.feature .btn-feature {
  margin-top: 32px;
  width: 137px;
  height: 50px;
  border: none;
  background: var(--primary-color);
}

/* ==============feature 2=============== */
.feature2 {
  margin-top: 200px;
}

.feature2 .picture {
  width: 470px;
  height: 440px;
  border-radius: 20px;
  object-fit: cover;
}

.feature2 .item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature2 .info {
  margin-right: 130px;
}

.feature2 .heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
}

.feature2 .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.feature2 .btn-feature {
  margin-top: 32px;
  width: 137px;
  height: 50px;
  border: none;
  background: var(--primary-color);
}

/* =================blog=================== */
.blog {
  margin-top: 200px;
  background: #fffcf4;
}

.blog-top {
  padding: 96px 0 55px;
}

.blog-top .heading-lv2 {
  color: #130606;
  text-align: center;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26;
}

.blog-top .desc {
  color: #696262;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.blog-bottom {
  display: flex;
  gap: 30px;
}

.blog-bottom .item {
  width: 370px;
  height: 467px;
  border-radius: 16px;
  background: #fff;
}

.blog-bottom .item:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.blog-bottom .thumb {
  width: 370px;
  height: 250px;
  border-radius: 16px 16px 0 0;
}

.blog-bottom .info {
  margin: 20px 20px 28px;
}

.blog-bottom .date {
  padding: 12px;
  position: relative;
  display: flex;
  align-items: center;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}

.blog-bottom .date::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--primary-color);
  margin-right: 4px;
}

.blog-bottom .date::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 160px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
}

.blog-bottom .title a {
  padding-top: 12px;
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}

.blog-bottom .btn-blog {
  margin-top: 12px;
}

.blog-bottom .btn-blog:hover {
  background-color: var(--primary-color);
}

.blog .dots-list {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 38px 0 96px;
  gap: 6px;
}

.blog .dots-list .dots {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #5f5b53;
}

.blog .dots-list .dot2 {
  background-color: var(--primary-color);
}

/* ===========footer============= */
.footer {
  background: #2e2100;
}

.footer-top {
  display: flex;
  padding-top: 96px;
  border-bottom: 1px solid #59554b;
}

.footer-top .item {
  width: 21.6%;
}

.footer-top .item:first-child {
  width: 35%;
}

.footer-top .desc {
  max-width: 267px;
  margin: 18px 0 18px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}

.footer-top .icon {
  display: flex;
  gap: 18px;
}

.footer-top .header-footer {
  padding-bottom: 14px;
  padding-right: 48px;
  display: inline-block;
  border-bottom: 1px solid #59554b;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}

.footer-top .info {
  color: #bfbcb2;
  margin-bottom: 12px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}

.footer-top .info:last-child {
  margin-bottom: 38px;
}

.footer-top .item strong {
  color: #fff;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.86; /* 185.714% */
}

.footer .Copyright {
  padding: 28px 0 28px;
  color: #807d74;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}
